# Python
venv/
__pycache__/
*.pyc

# Data & media
data/
rawvideos/
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.jpg
*.png

# Node/phantomjs or other binaries
video_processing/phantomjs
*.dylib
*.so
.DS_Store
venv/
__pycache__/
*.pyc
data/
rawvideos/
*.mp4 *.mov *.mkv *.webm
*.dylib
*.so
