**/.DS_Store

results/*
!results/pipeline2_structured_task_dataset/
results/pipeline2_structured_task_dataset/*
!results/pipeline2_structured_task_dataset/training_quality_log_submissions/
results/pipeline2_structured_task_dataset/training_quality_log_submissions/*
!results/pipeline2_structured_task_dataset/training_quality_log_submissions/missions/
!results/pipeline2_structured_task_dataset/training_quality_log_submissions/missions/*.json
